* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url(./images/bg-intro-desktop.png);
  background-color: hsl(0, 100%, 74%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  display: flex;
  max-width: 1440px;
  gap: 50px;
  padding: 0 20px;
}
.left {
  max-width: 500px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.right {
  max-width: 500px;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 15px;
}

/* Left Section  */

h1 {
  font-weight: 700;
  color: #fff;
  /* font-size: 32px; */
  font-size: 2rem;
  line-height: 2.2rem;
}
.pleft {
  color: #fff;
  font-size: 16px;
}

/* Right Section  */
.btn-top {
  display: block;
  width: 100%;
  background-color: hsl(248, 32%, 49%);
  box-shadow: 0px 5px 0px rgba(15, 14, 14, 0.292);
  border-radius: 5px;
  padding: 10px 10px;
  border: none;
  color: #fff;
  font-weight: 400;
  font-family: "Poppins";
  font-size: 16px;
  cursor: pointer;
}
form {
  background-color: #fff;
  border-radius: 6px;
  padding: 25px;
  box-shadow: 0px 5px 0px rgba(15, 14, 14, 0.404);
}
input {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  border: 1px hsl(0, 3%, 83%) solid;
  border-radius: 4px;
  padding: 12px 20px;
}
input:hover {
  /* border: 1px solid gray; */
  outline: 1px solid rgb(193, 192, 192);
}
input[type="submit"] {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  background-color: hsl(154, 59%, 51%);
  text-align: center;
  padding: 12px;
  cursor: pointer;
  box-shadow: 0px 3px 0px rgb(56 204 140 / 55%);
}
input[type="submit"]:hover {
  outline: none;
}
input:required:invalid {
  outline: none;
  border: none;
  border: 2px solid hsl(0, 100%, 74%);
  background-image: url(./images/icon-error.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-origin: content-box;
}
input:invalid + span {
  display: inline;
  color: hsl(0, 100%, 74%);
  float: right;
  font-size: 14px;
  margin-bottom: 7px;
}
input:valid {
  outline: none;
  border: none;
  border: 1px solid hsl(154, 59%, 51%);
}
span[class="inpspan"] {
  display: none;
}

.pform {
  font-size: 8px;
  text-align: center;
}
.pform span {
  color: hsl(0, 100%, 74%);
  font-weight: 700;
}
@media screen and (max-width: 800px) {
  body {
    background-image: url(./images/bg-intro-desktop.png);
    background-color: hsl(0, 100%, 74%);
    /* height: 100%; */
    text-align: center;
  }
  main {
    flex-direction: column;
    padding: 20px;
  }
}

@media screen and (max-width: 375px) {
  body {
    background-image: url(./images/bg-intro-mobile.png);
    background-color: hsl(0, 100%, 74%);
    height: 100%;
    text-align: center;
  }
  main {
    flex-direction: column;
    padding: 20px;
  }
}
